@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: hsla(48, 94%, 65%, 1);

    background: radial-gradient(circle, hsla(48, 94%, 65%, 1) 0%, hsla(32, 54%, 52%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(48, 94%, 65%, 1) 0%, hsla(32, 54%, 52%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(48, 94%, 65%, 1) 0%, hsla(32, 54%, 52%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FAD954", endColorstr="#C78943", GradientType=1 );

    cursor: url('cursor.png'), auto;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 10);
}

#logo{
    padding-top: 2rem;
    width: 100%;
    margin-bottom: 2.3rem;
    max-width: 450px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 91vh; */
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.tagline{
    margin-bottom: 2rem;
    /* font-style: italic; */
    color: #333;
    font-weight: 300;
}

i{
    position: absolute;
    top: 13px;
    right: 2px;
    cursor: pointer;
    font-size: 19px;
}
form h2{
    margin-bottom: 2rem;
    text-align: left;
    color: #333;
    font-size: clamp(16px, 2.5vw, 22px);
}
form{
    display: flex;
    flex-direction: column;
    gap:1rem;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    padding: 2.5rem;
}
form button{
    width: 85%;
    align-self: center;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    font-size: 19px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #292929;
    width: 100%;
    background-color: transparent;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    color: #292929;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
    top: -15px;
    font-size: 12px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form-group input:focus {
    outline: none;
    border-bottom: 2px solid white;
}


.button-56 {
  align-items: center;
  background-color: #ffdf77;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffeeb6;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

.forg-pass{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

hr{
    border: 1px solid #be9e338f;
}

a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    opacity: 75%;
}
p{
    margin-top: 0rem;
    text-align: left;
    line-height: 1.4;
}

footer{
    border-top: 1px solid rgba(184, 147, 27, 0.906);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.footer-links{
    display: flex;
    column-gap: 3rem;
    font-size: 15px;
}
.copyright{
    font-size: 12px;
    text-align: center;
}
@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

@media (max-width: 610px) {
    form h2{
        text-align: center;
    }
}

@media (max-width: 420px){
    #logo{
        max-width: 90%;
    }
    .tagline{
        font-size: 20px;
        font-weight: 400;
    }
    .footer-links{
        column-gap: 2rem;
    }
    p{
        font-size: 13px;
        text-align: center;
    }
}
@media (max-width: 345px){
    .form-group input[type="text"],
    .form-group input[type="password"] {
        font-size: 16px;
    }

    .form-group label {
        font-size: 12px;
    }
    .footer-links{
        column-gap: 1rem;
    }
    
}
